:root {
  --primary: #18c2ec;
  --primary-light: #c7a0f9;
  --background: #f9fafb;
  --dark-blue:#0B153C;
  --input-gray: #9c9eb459;
  --gray:#85848481;
  --white: #FFFFFF;
  --light-white: #FFFFFFB2;
  --stroke: #eff0f6;
  --light-blue: #18c2ec;
  --black : black;
  --light-gray:#c4c4c452;
  --very-light-gray:#c4c4c41b;
  font-size: 62.5%;
  font-family: Montserrat;
  font-weight: bold;
}
body {
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--background);
 }
.container{
  position: relative;
  display:flex ;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

@font-face {
  font-family:Montserrat ;
  src: url(./Montserrat-VariableFont_wght.ttf);
}
/* #region Typography */

h1,
.heading-xxlarge {
  font-size: 7.2rem;
  font-weight: 400;
}
h2,
.heading-xlarge {
  font-size: 4.2rem;
  font-weight: 400;
}
h3,
.heading-large {
  font-size: 1.6rem;
  font-weight: bold;
}
h4,
.heading-medium {
  font-size: 1.5rem;
  font-weight: bold;
}
h5,
.heading-small {
  font-size: 2.3rem;
  font-weight: bold;

}
h6,
.heading-xsmall {
  font-size: 1.6rem;
  font-weight: 400;
}

.text-large {
  size: 2.4rem;
  font-weight: 400;
}

.text-medium {
  size: 1.6rem;
  font-weight: 400;
}

.text-small {
  size: 1.2rem;
  font-weight: 400;
}
/* #endregion typography */

/* #region btn */
.btn {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.8rem 3rem;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  display: inline-block;
}

.btn.btn--full {
  display: block;
  text-align: center;
}
.btn-primary {
  background-color: var(--light-blue);
  color: var(--white);
}

.btn-outline-primary {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid;
  border-color: var(--primary);
}
.btn-dark {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  outline: none;
}
.hero__body-btn1{
  background-color: var(--light-blue);
  border: none;
}
.hero__body-btn2{
  background-color: var(--light-gray);
  border:2px solid var(--light-blue);
}

.hero__btn{
  color: var(--white);
  border-radius: 20px;
  width: 13.2rem;
  height: 3.9rem;
  font-size: 1.2rem;
  font-weight: bold 
}
.hero__body--btn{
  width: 26.6rem;
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  justify-content: center;
  top: 22rem;
  gap: 2rem;

}
/* #endregion btn */

/* #region hero */
.hero {
  margin: 3.2rem 3rem 0;
  height: 30.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;

}
.hero__title {
  display: flex;
  color: var(--light-blue);
  font-weight: bold;
  width:  26rem;
  font-size: 1.1rem;

}
.hero__body-text1 {
  text-align: start;
  width: 26.3rem;
  position: absolute;
  top: 2.7rem;
  color: var(--white);
  display: flex;
  flex-direction: column;

}

.hero__body-text2{
  text-align: start;
  width: 26.4rem;
  position: absolute;
  top: 12.8rem;
  color: var(--light-white);
  display: flex;
  flex-direction: column;
  /* font-size: 1.2rem; */
  font-weight: bold;
}
/* #endregion hero */
/* #endregion header__background */

/* #region img_covid19 */

.img__covid19{
  width: 37.4rem;
  height: 30.9rem;
  position:relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

}
.img__covid19--hand{
  width: 25.6rem;
  height: 27.4rem;
  background-color: var(--light-blue);
  border-radius: 2.7rem;
}

.img__covid19--side{
  border-radius: 1rem;
  display: flex;
  width: 25rem;
}
.img__covid19--virus{
  padding: .5rem;
  height: 5rem;
  width: 5rem;
  background-color: var(--white);
  box-shadow: 0px 2px 2px 0px #0000001A;
  position: absolute;
  top: 12rem;
  right: 2.8rem;
}
.img__covid19--doctor{
  height: 5rem;
  width: 5rem;
  padding: .5rem;
  background-color: var(--white);
  box-shadow: 0px 2px 2px 0px #0000001A;
  box-shadow: 0px 2px 2px 0px #0000001A;
  position: absolute;
  top: 12rem;
  left: 2.8rem;

}

.img__card--box{
  width: 23.8rem;
  height: 6.9rem;
  background-color: var(--light-gray);
  border-radius: 2rem;
  position: absolute;
  top: 25rem;
  left: 3rem;
}
.img__card--doctor1{
  width: 3.8rem;
  height: 3.8rem;
}
.img__doc1{
  position: absolute;
  top: 1rem;
  left: 2rem;
  border-radius: .6rem;
}
.img__doc2{
  position: absolute;
  top: 1rem;
  left: 5.2rem;
  border-radius: .6rem;
}.img__doc3{
  position: absolute;
  top: 1rem;
  left: 8.6rem;
  border-radius: .6rem;
}
.text__card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 26.4rem;
  left: 17rem;
}
.text__card--number{
  font-size: 1.4rem;
  color: var(--white);
  font-weight: bold;
}
.text__card--string{
  color: var(--light-blue);
  font-weight:bold ;
}
.clock{
  position: absolute;
  width: 1.9rem;
  height: 2rem;
  top: 76rem;
  left: 4rem;
  background-color: var(--light-gray);
  padding: .5rem;
  border-radius: 1rem;

}
.clock--text{
  position: absolute;
  font-weight: bold;
  top: 76rem;
  left: 8rem;
  color: var(--white);
  padding: .5rem;
  border-radius: 1rem;
}
.back__ground--very-light{
  width: 30.6rem;
  height: 29.2rem;
  background-color: var(--very-light-gray);
  position: absolute;
  top: 82rem;
  left: 3rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.back__ground--light{
  width: 30.6rem;
  height: 26.8rem;
  background-color: var(--light-gray);
  position: absolute;
  top: 83.8rem;
  left: 3rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.address__box--vectors{
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 85.5rem;
  left: 5rem;
  gap: 2.6rem;
}
.text--width{
  width:10rem ;
}
.box__vectoe--style{
  display: flex;
  gap: 1rem;
}

.location__text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.calender__text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sheild__text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.address__text--1{
  color: var(--light-white);
  font-size: 1.4rem;
  font-weight: bold;
}
.address__text--2{
  color: var(--white);
  font-size: 1.4rem;
  font-weight: bold;
}

.small__img{
  width: 1.9rem;
  height: 2rem;
  background-color: var(--light-gray);
  border-radius: 1rem;
  padding: .5rem;
}

.Submit{
  background-color: var(--light-blue);
  border: none;
}
.vaccin{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
}
.sinovac{
  width: 7.2rem;
  height: 3.4rem;
}
.astrazenecpng{
  width: 7.2rem;
  height: 4rem;
}
.pfizer{
  width: 7.2rem;
  height: 2.9rem;
}
.moderna{
  width: 7.2rem;
  height: 1.6rem;
}

/* #endregion img_covid19 */


.header__background{
  background-image: url(./44d72135d26cf838b32f4d954c221a6e.jfif);
  height: 110.4rem;
  width: 37.4rem;
  position: relative;
}

/* #endregion header__background */
.line{
  color:var(--light-blue);
  width: 79.68px;
  font-weight: bold var(--light-blue);
  border: 20rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.navbar {
  z-index: 3;
  border-radius: 100px;
  height: 4.5rem;
  width: 30.4rem;
  padding: 5px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top:21px;

}
.database{
  width: 37.5rem;
  height: 49.7rem;
  background-image: url(./44d72135d26cf838b32f4d954c221a6e.jfif);
  position: relative;  
}
.database__form{
  width: 30.5rem;
  height: 38.1rem;
  border-radius: 2rem;
  background-color: var(--light-gray);
  top: 8.4rem;
  left: 3.5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.database--header{
  color: var(--white);
  top: 0rem;
  left: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--very-light-gray);
  width: 30.5rem;
  height: 4rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.inputs{
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:1.5rem;
  height: 32.4rem;
}
.input__name{
  width: 25rem;
  height: 3rem;
  padding: 1rem;
  border: .5rem solid var(--light-blue);
  border-radius: 1rem;
  background-color: transparent;
  color: var(--white);
}
.input__number{
  width: 25rem;
  height: 3rem;
  padding: 1rem;
  border: .5rem solid var(--light-gray);
  color: var(--light-gray);
  border-radius: 1rem;
  background-color: transparent;
}
.input__check{
  width: 15rem;
  height: 5rem;
  padding: 1rem;
  border: .5rem solid var(--light-blue);
  border-radius: 1rem;
  background-color: transparent;
  color: var(--light-blue);
}
.database--footer{
  background-color: var(--very-light-gray);
  border-radius: 1rem;
  width: 24rem;
  height: 3rem;
  color: var(--light-blue);
  text-align: center;
  position: absolute;
  top: 30rem;
  left: 2rem;
  padding: 1rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}
.logo {
  color: var(--white);
  gap: 4px;
  align-items: end;
}
.logo__text {
  font-weight: bold;
}
.burger-menu__list.burger-menu--collapse {
  max-height: 0;
  padding: 0;
  top: 0;
  
}
.burger-menu__toggle {
  position: relative;
  background-color:var(--light-gray) ;
  padding: 7px 8px;
  border-radius: 10px;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
}
.burger-menu__list {
  padding-top: 40px;
  border-radius: 25px;
  list-style-type: none;
  padding: 0;
  background-color: var(--dark-blue);
  padding: 15px;
  color: var(--white);
  max-height: 50vh;
  overflow: hidden;
  position: absolute;
  right: 0;
  left: 0;
  top: 12px;
  transition: all 1s ease;
  z-index: 1;
  padding-top: 40px;
}
.burger-menu__list li {
  padding: 5px 10px;
  margin: 5px;
}
.burger-menu__list a {
  color: unset;
  text-decoration: none;
}
.info__virus{
  width: 29.4rem;
  height: 96.6rem;
  background-image: url(./44d72135d26cf838b32f4d954c221a6e.jfif);
  padding: 4rem;
  opacity: 95%;
}
.info__virus--header{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.info__virus--largr-text{
  font-size: 2.4rem;
  color: var(--white);
  font-weight: bold;
}
.info__virus--small-text{
  font-size: 1.3rem;
  width: 32rem;
  color: var(--light-white);
  opacity: 68%;
}
.protects{
  width: 27.6rem;
  height: 74.4rem;
}
.protects__sheild{
  position: absolute;
  top: 188rem;
  gap: 2rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  width:25rem ;
  height:20rem;
  background-color: var(--light-gray);
  opacity: 94%;
  border-radius: 2rem;
  border-top-right-radius: 8rem;
}

.sheild{
  width: 4rem;
  height: 4rem;
  /* background-color: var(--light-gray); */
  border-radius: 1rem;
  padding: .5rem;
}
.protects__sheild--text-large{
  font-size: 1.4rem;
  width: 17.2rem;
  font-weight: bold;
  color: var(--light-blue);
}
.protects__sheild--text-small{
  font-size: 1.2rem;
  width: 23.5rem;
  color: var(--white);
}
.protects__sheild--link{
  font-size: 1.2rem;
  font-weight: bold;
  width: 8.9rem;
  color: var(--light-blue);
}
.person{
  position: absolute;
  width: 18.8rem;
  height: 20.2rem;
  border-radius: 2rem;
  border:.29rem solid var(--white);
  opacity: 50%;
  padding: 1rem;
  top: 217rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.person--icon{
  width: 6rem;
  height: 4rem;
  border-radius: 1rem;
  background-color: var(--light-white);
}
.person--text{
  color: var(--white);
  font-weight: bold;
}
.person--link{
  color: var(--light-white);
  font-weight: bold;
}
.termometer{
  position: absolute;
  width: 18.8rem;
  height: 20.2rem;
  border-radius: 2rem;
  border:.29rem solid var(--white);
  opacity: 50%;
  padding: 1rem;
  top: 243rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.termometer--icon{
  width: 6rem;
  height: 4rem;
  border-radius: 1rem;
  background-color: var(--light-white);
}
.termometer--text{
  font-weight: bold;
  color: var(--white);
}
.termometer--link{
  font-weight: bold;
  color: var(--light-white);
}
.registration{
  width: 37.4rem;
  height: 116.5rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content:  flex-start;
  position: absolute;
  top: 269.5rem;
  left: 0;
}
.registration--header{
  width: 23rem;
  height: 5.8rem;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--dark-blue);
  position: absolute;
  top: 3rem;
  text-align: center;
}
.registration__box{
  width: 30.5rem;
  height: 43.7rem;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  position: absolute; 
  top: 13rem;
  align-items: center;
  z-index: 1;
  border-radius: 1rem;

}  
.registration__box--header{
  width: 6.8rem;
  height: 3.4rem;
  font-size: 1.4rem;
  color: var(--white);
  font-weight: bold;
  position: absolute;
  top: 2rem;
}
.registered__form--small-text-number{
  color: var(--black);
  opacity: 70%;
}
.registration__box--img-virus{
  width: 15rem;
  height: 7rem;
  position: absolute;
  top: -2.5rem;
  left: -6rem;
}
.registration__box--img{
  z-index: 2;
  width: 30.7rem;
  height: 36.5rem;
  position: absolute;
  border-radius: 1.5rem;
  top: 7.2rem;
}
.registration__box--btn{
  position: absolute;
  top: 34rem;
  border: none;
  z-index: 3;
  width: 20rem;
  height: 5rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  color: var(--white);
  background-color: var(--light-gray);
}
.input--form{
  background-color: var(--input-gray);
  border: none;
  color: var(--gray);
}
.registered__form{
  width: 32rem;
  height: 46.5rem;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;  
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 63rem;
  left: 4rem;
  font-size: 1.4rem;

}
.registered__form--full-name{
  display: flex;
  flex-direction: column;
  gap:2rem;
  width: 20.5rem;
  height: 8.7rem;
}
.registered__form--input-name{
  
  width: 30.5rem;
  height: 5rem;
  border-radius: 1rem;
}
.registered__form--number{
  display: flex;
  flex-direction: column;
  gap:2rem;
  width: 32rem;
  height: 30.9rem;
}
.registered__form--input-number{
  width: 30.5rem;
  height: 5rem;
  border-radius: 1rem;
}
.registered__form--number-btn{
  width: 15rem;
  height: 5rem;
  border-radius: 1rem;
}
.registered__form--number-btn-submit{
  width: 30.5rem;
  height: 5rem;
}
.registered__form--number-footer{
  width: 29.8rem;
  height: 1.7rem;
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 46.5rem;
  font-size: 1.3rem;
  font-weight: bold
}
.form--btn{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.registered__form--number-link-check{
  color: var(--light-blue);
}
.registered__form--number-link-reg{
  color: var(--black);
  opacity: 85%;
}
.symptoms{
  background-image: url(./44d72135d26cf838b32f4d954c221a6e.jfif);
  width: 33.5rem;
  height: 28.7rem;
  position: absolute;
  top: 386rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 2rem;
}
.symptoms__header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}
.symptoms__header--man{
  position: absolute;
  top: 15.9rem;
  width: 22rem;
  height: 16.7rem;
}
.symptoms__header--head-span{
  color: var(--light-blue);
}
.symptoms__header--head-text{
  text-align: center;
  color: var(--white);
  font-weight: bold;
}
.symptoms__header--head{
  color: var(--white);
  font-weight: bold;
}
.symptoms__header--body-text{
  font-size: 1rem;
  width: 25rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--light-white);
}
.img--virus{
  width: 7.1rem;
  height: 4.1rem;
  z-index: 3;

}
.symptoms__header--virus-right-once{
  position: absolute;
  top: 17.5rem;
  left: 21rem;
}
.symptoms__header--virus-right-second{
  position: absolute;
  top: 21.5rem;
  left: 23rem;
}
.symptoms__header--virus-right-third{
  position: absolute;
  top: 25.5rem;
  left: 25rem;
}
.symptoms__header--virus-left-once{
  position: absolute;
  top: 17.5rem;
  right: 21rem;
}
.symptoms__header--virus-left-second{
  position: absolute;
  top: 21.5rem;
  right: 23rem;
}
.symptoms__header--virus-left-third{
  position: absolute;
  top: 25.5rem;
  right: 25rem;
}
.symptoms__header--virus{
  display: flex;

}
.text--virus{
  color: var(--light-blue);
  background-color: var(--light-gray);
  border-radius: .4rem;
  padding: .5rem;
  z-index: 2;

}
.symptoms__header--virus-right-text-once{
  position: absolute;
  top: 18.5rem;
  left: 25.5rem;
}
.symptoms__header--virus-right-text-second{
  position: absolute;
  top: 22.5rem;
  left: 27.5rem;
  font-size: .8rem;
}
.symptoms__header--virus-right-text-third{
  position: absolute;
  top: 26.5rem;
  left: 29.5rem;
}
.symptoms__header--virus-left-text-once{
  position: absolute;
  top: 18.5rem;
  right: 25.5rem;
}
.symptoms__header--virus-left-text-second{
  position: absolute;
  top: 22.5rem;
  right: 27.5rem;

}
.symptoms__header--virus-left-text-third{
  position: absolute;
  top: 26.5rem;
  right: 29.5rem;
  font-size: .7rem;
}


.feedback{
  width: 31.4rem;
  height: 102rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  top: 32.7rem;
  background-image: url(./backgroundblue.jpg);
  z-index: 1;
}
.feedback__header{
  display: flex;
  flex-direction: column;
  align-items:center ;
  text-align: center;
  gap: 1rem;
}
.feedback__header--text-head{
  font-size: 1.4rem;
  color: var(--light-blue);
  font-weight: bold;
}
.feedback__header--text-body{
  font-weight: bold;
  font-size: 2.4rem;
}
.feedback__header--text-footer{
  font-size: 1.4rem;

}
.plan__card--background{
  z-index: 2;
  width: 16.4rem;
  height: 21rem;
}
.plan__cards{
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.plan__card--text-img{
display: flex;
gap: 1.5rem;
align-items: center;
}
.plan__card--img{
  width: 5.3rem;
  height: 5.3rem;
  border-radius: 1.3rem;
}
.plan__card--one{
  width: 27.5rem;
  height: 15rem;
  position: absolute;
  top: 19rem;
  left: 3rem;

  background-color: var(--light-gray);
  border-radius: 1.3rem;
  padding: 2rem;
  gap: 3rem;
}
.plan__card--one-text{
  font-size: 1.3rem;
  text-align: center;
}
.plan__card--one-background{
  position: absolute;
  z-index: 2;
  top: 19rem;
  left: 11rem;
  opacity: 20%;
}

.plan__card--second{
  width: 27.5rem;
  height: 15rem;
  position: absolute;
  top: 42rem;
  left: 3rem;
  border-radius: 1.3rem;
  padding: 2rem;
  gap: 3rem;
  color: var(--white);
}
.back__ground--opa{
  background-color: var(--light-blue) ;
  opacity: 80%;

}
.plan__card--second-text{
  font-size: 1.3rem;
  text-align: center;
  color: var(--white);
}
.plan__card--second-background{
  position: absolute;
  z-index: 2;
  top: 42rem;
  left: 11rem;
  opacity: 40%;
}



.plan__card--third{
  width: 27.5rem;
  height: 15rem;
  position: absolute;
  top: 65rem;
  left: 3rem;
  background-color: var(--light-gray);
  border-radius: 1.3rem;
  padding: 2rem;
  gap: 3rem;

}
.plan__card--third-text{
  font-size: 1.3rem;
  text-align: center;
}
.plan__card--third-background{
  position: absolute;
  z-index: 2;
  top: 65rem;
  left: 11rem;
  opacity: 20%;

}


.card__footer{
  height: 20rem;
  left: 4rem;
  width: 30rem;
  background-color: var(--light-gray);
  position: absolute;
  top: 517rem;
  z-index: 2;
  border-radius: 2rem;
}
.card__footer--email{
  height: 16rem;
  left: 1rem;
  width: 28rem;
  background-color: var(--light-blue);
  position: absolute;
  top: 2rem;
  z-index: 3;
  border-radius: 2rem;
}
.card__footer--text{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 2rem;
  left: 3rem;
}
.card__footer--input-email{
  width: 23rem;
  height: 4rem;
  position: absolute;
  top: 9rem;
  left: 2rem;
  border-radius: 5rem;
  color: var(--light-gray);
  border: none;
  padding-left: 2rem;
}
.card__footer--input-img{
  width: 5rem;
  height: 3rem;
  position: absolute;
  top: 8.9rem;
  left: 21rem;
  padding: .7rem;
  background-color: var(--dark-blue);
  border-radius: 0rem 5rem 5rem 0rem
}
.footer-m{
  width: 37.4rem;
  height: 35rem;
  top: 527rem;
  position: absolute;
  background-image: url(./44d72135d26cf838b32f4d954c221a6e.jfif);

}
@media only screen and (min-width: 375px) {
  .navbar {
    padding-left: 25px;
  }
  .logo__text {
    font-size: 20rem;
  }
  .burger-menu__toggle {
    display: none;
    background-color: #C4C4C426;
    ;
  }
  .burger-menu__list {
    display: flex;
    position: static;
    margin: 0;
    align-items: center;
  }
  .burger-menu__list.burger-menu--collapse {
    max-height: 10vh;
  }
}

.card {
  border: 1px solid var(--stroke);
  background-color: var(--white);
  border-radius: 8px;
}
.card--rounded {
  border-radius: 16px;
}
/*  small devices (phones, 600px and down) */
@media only screen and (min-width: 768px) {
  .header__background{
    width: 76.8rem;
  }
  .header__background{
    background-image: url(./44d72135d26cf838b32f4d954c221a6e.jfif);
    height: 100.4rem;
    width: 76.8rem;
    position: relative;
  }
  .logo__text {
    font-size: 3rem;
}
  .burger-menu__list.burger-menu--collapse {
    max-height: 0;
    padding: 0;
    top: 0;
}
.burger-menu__toggle {
  display: none;
  background-color: #C4C4C426;
}
.hero__title{
  font-size: 1.8rem;
  width: 48rem;
}
.hero__body-text1{
  font-size: 2.8rem;
  width: 39rem;
  margin-top: 1rem;
}
.hero__body-text2{
  font-size: 1.5rem;
  width: 39rem;
  margin-top: 3rem;
}
.img__covid19{
  position: absolute;
  top: 43rem;
  left: 21rem;
}
.clock--text{
  font-size: 2rem;
}
.clock{
  width: 2.9rem;
  height: 3rem;
}
.back__ground--very-light,.back__ground--light{
  width: 70.6rem;
  height: 16.8rem;
}
.calender {
  left: 39rem;
  position: absolute;
  top: 0rem;
  width: 18rem;
}
.hero__btn{
  left: 39rem;
  position: absolute;
  top: 6rem;
}
.back__ground--very-light{
  height: 18.8rem;
}
.vaccin__small-size{
width: 14.8rem;
height: 3rem;
}
.vaccin__large-size{
  width: 14.8rem;
  height: 5rem;
  }
.vaccin{
  height: 8rem;
}
.database{
  width: 76.8rem;
}
.database__form, .database--header{
  width: 70.8rem;
  font-size: 1.5rem;
}
.inputs{
  width: 65.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input__name, .input__number{
  width: 50rem;
}
.input__check{
  position: absolute;
  top: 25rem;
  left: 6rem;
}
.database--footer{
  width: 37rem;
  position: absolute;
  top: 32rem;
  left: 15rem;
  font-size: 1.2rem;
}
.info__virus{
  width: 76.8rem;
}
.info__virus--largr-text{
  font-size: 3.5rem;
  width: 38rem;
}
.info__virus--small-text{
  margin-top: 2rem;
  font-size: 3rem;
  width: 66rem;
}
.hero__body-btn2{
  left: 23rem;
}
.hero__body-btn1{
  left: 6rem;
}
.protects__sheild {
  top: 198rem;
  height: 25rem;
}
.sheild{
  width: 5rem;
}
.protects__sheild--text-large{
  font-size: 2.5rem;
}
.protects__sheild--text-small{
  font-size: 1.6rem;
}
.person{
top: 237rem;
}
.termometer{
  top: 237rem;
left: 37rem;
}
.protect__text{
  font-size: 1.5rem;
}
.registration{
  width: 76.8rem;
  top: 263.5rem;
  align-items: flex-start;
  padding-left: 8rem ;
}
.registered__form{
  width: 68.8rem;
  gap: 6rem;
}
.registered__form--input-name ,.registered__form--input-number {
  width: 46rem;
}
.registered__form--small-text-number{
font-size: 2rem;
width: 47rem;
}
.registered__form--number-btn{
  left: 52rem;
  top: 25rem;
}
.registered__form--number-btn-submit{
  left: 21rem;
  top: 35rem;
}
.registered__form--number-footer{
  position: absolute;
  top: 46rem;
  left: 21rem;
}
.symptoms{
width: 76.8rem;
top: 380rem;
}
.symptoms__header--head{
  font-size: 1.2rem;
}
.symptoms__header--body-text{
  font-size: 1.8rem;
  width: 54rem;
}
.symptoms__header--head-text{
  font-size: 1.8rem;

}
.symptoms__header--man{
width: 44.4rem;
}

.symptoms__header--virus-right-once{
  left: 44rem;
}
.symptoms__header--virus-right-second{
  left: 50rem;
}
.symptoms__header--virus-right-third{
  left: 54rem;
}
.symptoms__header--virus-left-once{
  right: 44rem;
}
.symptoms__header--virus-left-second{
  right: 50rem;
}
.symptoms__header--virus-left-third{
  right: 54rem;
}
.symptoms__header--virus-right-text-once{
  left: 48.5rem;
  font-size: 1.2rem;
}
.symptoms__header--virus-right-text-second{
  left: 54.5rem;
  font-size: 1.2rem;
}
.symptoms__header--virus-right-text-third{
  left: 58.5rem;
  font-size: 1.2rem;

}
.symptoms__header--virus-left-text-once{
  right: 48.5rem;
  font-size: 1.2rem;

}
.symptoms__header--virus-left-text-second{
  right: 54.5rem;
  font-size: 1.2rem;


}
.symptoms__header--virus-left-text-third{
  right: 58.5rem;
  font-size: 1.2rem;
}
.feedback{
  width: 76.8rem;
}
.feedback__header--text-footer{
  width: 70rem;
}
.plan__card--one,.plan__card--second,.plan__card--third{
  left: 23rem;
}
.plan__card--background{
  left: 29rem;
}
.footer-m{
  width: 76.8rem;
  left: 0rem;
  top:520rem;
}
.card__footer{

  left: 17rem;
  top: 511rem;
  width: 40rem;
  height: 25rem;
}
.card__footer--email{
  display: flex;

  width: 38rem;
  height: 21rem;
}
.card__footer--text-head{
  font-size: 2.4rem;
}
.card__footer--text-body{
  font-size: 1.6rem;
}
.card__footer--input-email{
  left: 6rem;
  top: 11rem;
}
.card__footer--input-img{
  left: 25rem;
  top: 11rem;
}
}
/* Large devices (laptops/desktops, 1280px and up) */
@media only screen and (min-width: 1024px) {
  .header__background{
    height: 76.8rem;
    width: 102.4rem;
  }
  .img__covid19{
    top: 7rem;
    left: 53rem;
  }
  .clock--tesk{
    top: 50rem;
    left: 3rem;
  }
  .clock--text{
    left: 8rem;
  }
  .back__ground--very-light{
    width: 85.6rem;
    height: 19.8rem;
    top: 57rem;
  }
  .back__ground--light{
    width: 85.6rem;
    height: 16.8rem;
    top: 60rem;
  }
  .address__box--vectors{
    top: 64rem;
  }
  .database{
    width: 102.4rem;
    height: 31.4rem;
  }
  .database__form{
    width: 85.9rem;
    top: 2rem;
  }
  .database--header{
    width: 85.9rem;
  }
  .input__name{
    left: 0;
    width: 27rem;
    position: absolute;
    top: 8rem;
  }
  .input__number{
    left: 32rem;
    width: 27rem;
    position: absolute;
    top: 8rem;
  }
  .input__check{
    left: 71rem;
    width: 10rem;
    position: absolute;
    top: 8.5rem;
  }
  .database--footer{
    top: 17.5rem;
    left: 25rem;
  }
  .database__form{
    height: 26.3rem;
  }
  .info__virus{
    width: 102.4rem;
    height: 50rem;
  }
  .info__virus--small-text{
    font-size: 1.5rem;
    position: absolute;
    top: 120rem;
    left: 56rem;
    width: 42rem;
  }
  .protects__sheild{
    top: 138rem;
  }
  .person{
    top: 145rem;
    left: 40rem;
  }
  .termometer{
    top: 145rem;
    left: 70rem;
  }
  .registration{
    top: 175.2rem;
    width: 102.4rem;
  }
  .registration__box{
    left: 20rem;
  }
}


